* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: none;
}




#contenedor-1 {
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url(../img/imagenPrincipal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    /*

@media screen and (max-width: 1920px) {
    .contenedor*/

}



#cabecera {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(0, 0, 0, 0.178);
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
}



#logo {
    width: fit-content;
    height: fit-content;
    padding-left: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#logo img {
    height: 20px;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;

}



.link {
    color: #FFFFFF;
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 390;
    font-size: 15px;
    line-height: none;
    text-decoration: none;
    padding-left: 8%;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;*/


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: fit-content;
    width: 100%;
    margin-right: 2%;
}

.link:hover {
    color: aqua;
}




.banner {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.banner_busqueda {

    padding: 3% 0 1% 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: #FFFFFF;
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Brandon Grotesque';
    background: none;
    grid-column: 3/3;
    display: flex;
}

#buscar {
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Brandon Grotesque';
    padding: 7px 0 7px 20px;
    border: 1px solid white;
    border-radius: 100px;
    background: none;
    grid-column: 3/3;
    display: grid;

}

.banner_textos {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 320px;
    background: none;
}

#banner_textos1 {
    padding: 20px 0;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B4B7B7;
    background: none;

}

#banner_textos2 {
    margin: 20px 0 75px 0;
    background: none;
}

.banner_textos3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-bottom: 10%;
    background: none;
}

.banner_textos3 a {
    width: 50%;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 100px;

    background: none;
}

.banner_textos3 a:hover {
    color: aqua;

    background: none;
}



#redesSociales {
    left: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
    height: fit-content;
    top: 35%;
    position: fixed;
    z-index: 999999;
}


#seguir {
    margin: 0 0 75px -27px;
    font-weight: 600;
    font-size: 15px;
    color: #464547;
    transform: rotate(90deg) !important;
    grid-row: 1/2;

}

#linea {
    margin: 0 0 50px -23px;
    width: 60px;
    height: 0px;
    border: 1px solid #7E7E7E;
    transform: rotate(90deg) !important;

}


#redesSociales a {
    margin-bottom: 10px;
}

#RedesSociales #facebookimg {
    margin-left: 4px !important;
}






.contenedor-2 {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.us-offer-imagenes {
    display: grid;
    grid-template-columns: column;

}

#galeriaImagenes {
    display: flex;
    min-width: 200px;
    min-height: 300px;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

#galeriaImagenes {
    grid-column: 1/3;

    grid-row: 2/3;
    margin-right: 0;
}

#galeria1 {
    background-image: url("../img/venta1.jpg");
    text-decoration: none;
    margin: 3px;
}

#galeria2 {
    background-image: url("../img/venta2.jpg");
    text-decoration: none;
    margin: 3px;
}

.iglesia {
    float: left;
}


#galeria3 {
    background-image: url("../img/venta3.jpg");
    text-decoration: none;
    margin: 3px;
}

.carrusel-contenido {
    width: 250px;

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: initial;
    align-items: end;
}

.carrusel-contenido div {
    width: 100%;

    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    background-color: rgba(0, 0, 0, 30%);
}

.carrusel-contenido div span {
    display: block;
    color: white;
    padding: 0 5% 0 5%;
}

.carrusel-contenido div span:nth-child(1) {
    padding-top: 3%;
}

.carrusel-contenidodiv span:nth-child(2) {
    padding-bottom: 3%;
}

.carrusel-contenido:hover>div span {
    background-color: #FFFFFF !important;
}

.carrusel-contenido:hover>div .localvta {
    color: #000000;
}

.carrusel-contenido:hover>div .paisvta {
    color: #464547;
}

.box-img {
    margin-right: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}

/*
.propiedad{
    width: 40%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 10px;
   
}
*/


#textoSale {
    width: 100%;
}

.tituloWorldwide {
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 45px;

    /* or 112% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #DF991B;
}


#tituloPropiedad1 {
    justify-content: end;
    align-items: flex-end;
}

#tituloPropiedad2 {
    justify-content: end;
    align-items: flex-end
}

#parrafoPropiedad {
    justify-content: end;
    text-align: end;

}

.contieneImagenesSeccion4 {
    width: auto;
    display: flex;
    flex-direction: column;
}

#rentPropiedad1 {
    justify-content: left;
}

#rentPropiedad2 {
    justify-content: left;
}

#textoRentPropiedad {
    justify-content: left;
    text-align: left;

}




.tituloPropiedad {
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 150;
    font-size: 50px;
    line-height: 45px;

    /* or 56% */
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 3%;

    color: #000000;
}


.textoenPropiedad {

    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 45px;

    /* or 150% */

    padding-top: 4%;
    padding-bottom: 5%;

    color: #000000;
}


.revisar-propiedades {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

}



.anteriorP {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 150;
    font-size: 10px;
    line-height: 40px;

    /* or 225% */
    display: flex;
    align-items: center;

    color: #B4B7B7;
}

.botonViewP {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 150;
    font-size: 15x;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 5px 60px;
}

a.botonViewP {
    text-decoration: none;
}

.botonViewP:hover {
    cursor: pointer;
    background-color: none;
    color: aqua;
}

.siguienteP {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 150;
    font-size: 10px;
    line-height: 40px;

    /* or 225% */
    display: flex;
    align-items: center;

    color: #DF991B;

}






.contenedor-3 {
    margin-top: 2%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    background-position: center;
}

#galeriaImagenes2 {
    display: flex;
    min-width: 200px;
    min-height: 300px;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

#galeriaImagenes2 {
    grid-column: 1/3;

    grid-row: 2/3;
    margin-left: 0;

}

#galeria4 {
    background-image: url("../img/rent1.jpg");
    text-decoration: none;
    margin: 3px;
}

#galeria5 {
    background-image: url("../img/rent2.png");
    text-decoration: none;
    margin: 3px;
}

#galeria6 {
    background-image: url("../img/rent3.jpg");
    text-decoration: none;
    margin: 3px;
}






.contenedor-4 {
    width: 100%;

}


#textoDesarrollo {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
}


.tituloLexuryProperties {
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 150;
    font-size: 40px;
    line-height: 45px;
    /* or 112% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;

    color: #DF991B;
}

.tituloDevelopments {
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 200;
    font-size: 80px;
    line-height: 45px;

    /* or 56% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;

    color: #000000;
}



.us-offer-imagenes2 {
    width: 100%;

}

.carrusel2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 6%;
    row-gap: 42px;
    column-gap: 20px;
}

#galeriaImagenes3 {

    width: 90%;





}

#galeriaImagenes3 {

    padding: 0%;

    justify-content: center;
    justify-items: center;
    align-items: center;

}

#galeria7 {
    background-image: url("../img/desarrollo1.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;

}

#galeria8 {
    background-image: url("../img/desarrollo2.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}

#galeria9 {
    background-image: url("../img/desarrollo3.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}


#galeria10 {
    background-image: url("../img/desarrollo4.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}

#galeria11 {
    background-image: url("../img/desarrollo5.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}

#galeria12 {
    background-image: url("../img/desarrollo6.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}

#galeria13 {
    background-image: url("../img/desarrollo7.jpg");
    text-decoration: none;
    min-width: 300px;
    min-height: 250px;
}

#galeria14 {
    background-image: url("../img/desarrollo8.jpg");
    text-decoration: none;
    min-height: 250px;
    min-width: 300px;
}




.contenedor-5 {
    margin-top: 5%;
    margin-left: 3%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 600px;


}

#cuadroRectangulo {
    width: 100%;
}


.frente {
    position: absolute;
    min-height: 400px;
    width: 500px;
    top: 50px;
    left: 10%;
    z-index: 1;
}


.fondo {
    position: absolute;
    max-height: 600px;
    width: 450px;
    z-index: -1;
}




.textoServices {
    grid-template-rows: 1fr;
    margin-right: 6%;
    justify-items: cover;
    justify-items: cover;
    align-items: center;
}


.frente1 {
    position: absolute;
    width: 60px;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-bottom: 4%;
    margin-top: 3%;
}


.fondo1 {
    position: absolute;
    width: 50px;
    left: 25px;
    z-index: -1;
    margin-bottom: 5%;
}

.fondo2 {
    position: absolute;
    width: 540px;
    height: 0px;
    left: 75px;
    top: 5%;
    margin-top: 6.5%;

    border: 1.2px solid #DF991B;
    transform: rotate(180deg);

}



#services {
    justify-content: left;
    margin-top: 20%;
}

#artCuration {
    justify-content: left;

}

#parrafoArtCuration {
    justify-content: left;
    text-align: left;
    margin-top: %;
    margin-bottom: 6%;

}


.revisar-artservices {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;

}







.contenedor-6 {
    margin-top: 3%;

    /* display: inline block;*/
    position: relative;
    width: 100%;
    max-height: 400px;

}


#cuadroRectangulo2 {
    width: 100%;
    max-height: 300px;
    display: grid;
    grid-template-columns: 2;

}

.frente2 {
    position: absolute;
    max-height: 100px;
    width: 90%;
    max-height: 200px;
    top: 0px;
    left: 5%;
    right: 5%;
    background-image: url(../img/RectSeccion6.png);
    z-index: -10;

    margin: auto
}

.fondo3 {
    position: absolute;
    max-height: 300px;
    width: 100%;
    left: 0;
    z-index: -10;
    margin-bottom: 5%;
    margin-top: 5%;
    background-image: url(../img/rectanguloSeccion.png);
}

#datosAdicionales {
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    display: grid;
}


#dato1 {
    margin-top: 2%;
    margin-left: 20%;
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 150;
    font-size: 40px;
    line-height: 45px;
    /* or 112% */
    display: flex;


    color: #DF991B;

}


#dato2 {
    margin-bottom: 2%;
    margin-left: 20%;
    color: #FFFFFF;
    justify-content: left;
    justify-items: left;
    align-items: left;
    font-weight: 150;
    font-size: 40px;
    line-height: 45px;

}

#datosSecundarios {
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    display: grid;

    align-items: center;
    justify-content: center;
    justify-items: center;
}

#dato4 {
    margin-top: 2%;
    margin-left: 20%;
    font-family: 'PF Regal Display Pro';
    font-style: normal;
    font-weight: 150;
    font-size: 20px;
    line-height: 45px;
    /* or 112% */
    display: flex;


    color: #FFFFFF;
    padding: 7px 0 7px 20px;
    border: 1px solid white;
    border-radius: 100px;
    background: none;

}


#dato2 {
    margin-bottom: 2%;
    margin-left: 20%;
    color: #FFFFFF;
    justify-content: left;
    justify-items: left;
    align-items: left;
    font-weight: 150;
    font-size: 40px;
    line-height: 45px;

}

footer {
    width: 100%;
    margin-top: 0%;
}

.containerPie {

    margin-top: 0%;
    display: grid;
    grid-template-rows: 1fr;

    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: 330;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 45px;
    align-items: center;
    justify-content: center;
    justify-items: center;


    /* or 150% */



    background-color: #000000;

}







@media (min-width:768px) {
    .img-conteiner {
        grid-template-columns: repeat(4, 1fr);
    }

    .imagen-item:nth-child(3) {
        grid-column-start: span 2;
    }

    .imagen-item:nth-child(4) {
        grid-column-start: span 3;
    }

    .imagen-item:nth-child(5) {
        grid-column-start: span 3;
    }

    .imagen-item:nth-child(9) {
        grid-column-start: span 3;
    }
}

@media (min-width:1024px) {
    .img-conteiner {
        margin: auto;
        grid-template-columns: repeat(5, 1fr);
        width: 90%;

        float: left;
    }

    .imagen-item:nth-child(1) {
        grid-column-start: span 0.5;
    }

    .imagen-item:nth-child(4) {
        grid-column-start: span 3;
    }

}



